// 色彩
$primary-color    : #ff7f50; // 珊瑚色
// $primary-color : #d6907c;
$text-color       : #4a4a4a; // 暖灰色
$dark-text        : #2d3436; // 深碳灰
$background       : #ffffff; // 白色
$shadow           : rgba(0, 0, 0, 0.1);

// 過渡時間
$transition-speed: 0.3s;

// 斷點
$mobile-breakpoint: 768px;